@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Videolizer
@{
    Layout = "Master.cshtml";
}
@{
    @(Model.Content.GetPropertyValue<VideolizerVideo>("youTube").GetSimpleEmbed("600", "300"))
    
    @(Model.Content.GetPropertyValue<VideolizerVideo>("vimeo").GetSimpleEmbed("600", "300"))

	@(Model.Content.GetPropertyValue<VideolizerVideo>("vimeo").HasVideo())

	

	<p>Get Timecode Example</p>
		//Get the URI from the Video Url Parameter
		Uri myUri = new Uri(Model.Content.GetPropertyValue<VideolizerVideo>("myVideo").Url);
		//Parse "t" from the querystring
		string timecode = HttpUtility.ParseQueryString(myUri.Query).Get("t");
		@timecode
	






		var items = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("repeatingVideos");

		foreach (var item in items)
		{
	<div>
		<h3>@item.GetPropertyValue("title")</h3>
		@(item.GetPropertyValue<VideolizerVideo>("video").GetSimpleEmbed("600", "300"))
	</div>
	}



}
