@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Videolizer
@using Videolizer.Umbraco
@{
    Layout = "Master.cshtml";
}
@{


    @(Model.Content.GetPropertyValue<UmbVideolizerVideo>("youTube").GetSimpleEmbed("600", "300"))
    
    @(Model.Content.GetPropertyValue<UmbVideolizerVideo>("vimeo").GetSimpleEmbed("600", "300"))

    @(Model.Content.GetPropertyValue<UmbVideolizerVideo>("vimeo").HasVideo())




	var items = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("repeatingVideos");

	foreach (var item in items)
	{
	<div>
		<h3>@item.GetPropertyValue("title")</h3>
		@(item.GetPropertyValue<UmbVideolizerVideo>("video").GetSimpleEmbed("600", "300"))
	</div>
	}



}
